<div>
    <div class="card">
        <h5 class="card-header">Sign Up</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">Email id: </div>
                <div class="col-sm-6"><input type="email" [(ngModel)]="email"></div>
            </div><br>
            <div class="row">
                <div class="col-sm-2">Password: </div>
                <div class="col-sm-6"><input type="password" [(ngModel)]="password"></div>
            </div><br>
            <div class="row">
                <div class="col-sm-2">Username: </div>
                <div class="col-sm-6"><input type="text" [(ngModel)]="username"></div><br>
            </div>
            <button class="btn btn-primary" (click)="signUp()">Sign Up</button>
        </div>
    </div>
</div>