<div class="container">
  <div class="jumbotron">
    <strong style="font-size: 50px;">On-Demand Car Wash</strong>
  </div>
  <a [routerLink]="['/home']">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a [routerLink]="[{ outlets: {secondary: ['aboutUs']}}]">About Us</a>
  <a style="margin-left: 75%;" [routerLink]="['/login']">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a [routerLink]="['/signUp']">Sign Up</a>
  <div class="row" style="margin-top: 5%;">
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
      <router-outlet name="secondary"></router-outlet>
    </div>
  </div>
</div>
