<div class="card">
    <h5 class="card-header">Admin Settings</h5>
    <div class="card-body">
        <button class="btn btn-link" [routerLink]="['addon']">Add-On Management</button><br>
        <button class="btn btn-link" [routerLink]="['cars']">Car Management</button><br>
        <button class="btn btn-link" [routerLink]="['service']">Service Management</button><br>
        <button class="btn btn-link" [routerLink]="['promo']">Promo Code Management</button><br>
        <button class="btn btn-link" [routerLink]="['user']">User Management</button><br>
        <router-outlet></router-outlet>
    </div>
</div>