<div>
    <nav>
        <button class="btn btn-primary" (click)="showFlag='BookWash'">Book Car Wash</button>&nbsp;
        <button class="btn btn-primary" (click)="showFlag='EditProfile'">Edit your profile</button>&nbsp;
    </nav>
    <div class="card" *ngIf="showFlag === 'BookWash'">
        <div class="card-body">
            <h4 class="card-title">Customer Details Form</h4>
            <form (ngSubmit)="submitData()" [formGroup]="customerForm">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">Name:</div>
                            <div class="col-sm-8"><input type="text" pattern="[A-Za-z]{3}[A-Za-z ]+"
                                    formControlName="customer_name" /></div>
                        </div>
                        <div *ngIf="(customerForm.get('customer_name').dirty || customerForm.get('customer_name').touched) && customerForm.get('customer_name').invalid"
                            class="alert alert-danger">
                            Name is required and of minimum 3 characters consisting of only alphabets
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">Phone number:</div>
                            <div class="col-sm-8"> <input type="text" pattern="^[1-9]{1}[0-9]{9}$"
                                    formControlName="customer_phone" /></div>
                        </div>
                        <div *ngIf="(customerForm.get('customer_phone').dirty || customerForm.get('customer_phone').touched) && customerForm.get('customer_phone').invalid"
                            class="alert alert-danger">Phone number must consist of only numbers, consisting of 10
                            digits
                        </div><br>
                        <div class="row">
                            <div class="col-sm-4">Address:</div>
                            <div class="col-sm-8"> <input type="textbox" formControlName="customer_address" /></div>
                        </div>
                        <div *ngIf="(customerForm.get('customer_address').dirty || customerForm.get('customer_address').touched) && customerForm.get('customer_address').invalid"
                            class="alert alert-danger">Address is mandatory
                        </div><br>
                        <div class="row">
                            <div class="col-sm-4">Vehicle Number:</div>
                            <div class="col-sm-8"> <input type="text"
                                    pattern="^[A-Z]{2}[0-9]{2}[A-Z0-9]{1,2}[A-Z0-9]{4}$"
                                    formControlName="customer_vehicle_number" />
                            </div>
                        </div>
                        <div *ngIf="(customerForm.get('customer_vehicle_number').dirty || customerForm.get('customer_vehicle_number').touched) && customerForm.get('customer_vehicle_number').invalid"
                            class="alert alert-danger">Enter a valid Vehicle number
                        </div><br>
                        <div class="row">
                            <div class="col-sm-4">Schedule the date of wash:</div>
                            <div class="col-sm-4">
                                <span *ngIf="!customerForm.get('customer_service_date').value || toggleEdit">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                            formControlName="customer_service_date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="customerForm.get('customer_service_date').invalid">Please
                                            enter the date of service</mat-error>
                                    </mat-form-field>
                                </span>
                                <span *ngIf="customerForm.get('customer_service_date').value && !toggleEdit">{{savedDate}}&nbsp;
                                    <button class="btn btn-primary" (click)="toggleEdit = true; customerForm.controls['customer_service_date'].reset()">Edit</button>
                                </span>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-4">Schedule the time of wash:</div>
                            <div class="col-sm-4">
                                <select formControlName="customer_service_time">
                                    <option *ngFor="let timeSlot of serviceTimeOptions" [value]="timeSlot">{{timeSlot}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="customerForm.invalid">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <div class="card" *ngIf="showFlag === 'EditProfile'">
        <div class="card-body">
            Current Details:<br>
            <form (ngSubmit)="updateUser()" [formGroup]="customerEditForm">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">Name:</div>
                            <div class="col-sm-8"><input type="text" pattern="[A-Za-z]{3}[A-Za-z ]+"
                                    formControlName="fullname" /></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">Phone number:</div>
                            <div class="col-sm-8"> <input type="text" pattern="^[1-9]{1}[0-9]{9}$"
                                    formControlName="phoneno" /></div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-4">Email:</div>
                            <div class="col-sm-8"> <input type="text" formControlName="email" /></div>
                        </div><br>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="customerEditForm.get('fullname').pristine && customerEditForm.get('email').pristine && customerEditForm.get('phoneno').pristine">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>